@use "../../abstracts";
.hero {
  padding-top: 18px;
  background: abstracts.$bg-color;
  &-pr-banner {
    padding: 20px 0;
    max-width: 100vw;
    overflow: hidden;
    white-space: nowrap;
    margin-left: -18px;
    background: #ffcd00;
    span {
      padding: 0 18px;
      position: relative;
      color: abstracts.$primary-color;
      font-size: 1.8rem;
      font-weight: 400;
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 100rem;
        background: abstracts.$primary-color;
        position: absolute;
        right: -8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &-container {
    padding: 100px 0 156px;
    display: flex;
    align-items: center;
  }
  &-content {
    max-width: 570px;
  }
  &-heading {
    font-size: 7rem;
    font-weight: 800;
    line-height: 114.286%;
    margin-bottom: 20px;
  }
  &-form {
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0 18px;
    img {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &-input {
    width: 100%;
    padding: 16px 44px;
    outline: none;
    border-radius: 8px;
    background: #fff;
    border: none;
  }
  &-btn {
    min-width: 191px;
  }
  &-media {
    position: relative;
    padding-left: 130px;
  }
  &-article {
    position: relative;
    z-index: 1;
    width: 370px;
    height: 426px;
    border-radius: 12px;
    background: #fff;
    padding: 24px;
    &-content {
      margin-top: -24px;
    }
    &-sub-heading {
      color: #69797a;
      font-size: 1.4rem;
      font-weight: 400;
    }
    &-title {
      margin-top: 3px;
      color: abstracts.$primary-color;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-rate {
      margin-top: 3px;
      display: flex;
      align-items: center;
      gap: 0 6px;
      span {
        font-size: 1.6rem;
      }
    }
  }
  &-img {
    width: 322px;
    height: 262px;
    border-radius: 12px;
    object-fit: cover;
  }
  &-nav-arrow {
    img {
      position: relative;
      top: -27px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &-decor {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 64px;
  }
}
