html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.heading {
  color: #032e32;
  font-size: 4.2rem;
  font-weight: 800;
  line-height: 123.81%;
}

.desc {
  color: #4f5a5a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166.667%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  --height: 62px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 8px;
  background: #b5ed3d;
  color: #032e32;
  font-size: 1.8rem;
  font-weight: 600;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}
.btn:hover {
  opacity: 0.85;
}

.header {
  padding-top: 18px;
  background: #e0eae5;
  position: sticky;
  top: -18px;
  z-index: 2;
}
.header-container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 0 6px;
}
.header-logo span {
  color: #032e32;
  font-size: 2.4rem;
  font-weight: 600;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 0 193px;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-link {
  padding: 6px 21px;
  display: block;
  color: #032e32;
  font-weight: 400;
  transition: all 0.2s linear;
  position: relative;
}
.header-link::before {
  content: attr(title);
  display: block;
  font-weight: 600;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.header-link::after {
  content: "";
  height: 3px;
  width: calc(100% - 42px);
  position: absolute;
  bottom: 0;
  left: 21px;
  background: #032e32;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s linear;
}
.header-link:hover {
  font-weight: 600;
}
.header-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.header-link.active {
  font-weight: 600;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 28px;
}
.header .log-in-btn {
  color: #032e32;
  font-weight: 600;
}
.header .sign-up-btn {
  --height: 50px;
  border-radius: 6px;
  background: #032e32;
  color: #fff;
  font-size: 1.6rem;
  min-width: 104px;
}

.footer {
  background: #e0eae5;
}
.footer-container {
  padding: 92px 0 28px;
}
.footer-top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 5fr;
  grid-gap: 0 110px;
  padding-bottom: 48px;
  border-bottom: 1px solid #d9d9d9;
}
.footer-heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
}
.footer-links {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px 0;
}
.footer-link {
  color: #032e32;
  font-size: 1.6rem;
  line-height: 175%;
  white-space: nowrap;
}
.footer-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 16px;
  margin-top: 24px;
}
.footer-input {
  padding: 13px 18px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #032e32;
  color: #032e32;
  font-size: 1.6rem;
  line-height: 175%;
}
.footer-btn {
  --height: 56px;
  min-width: 129px;
  font-size: 1.6rem;
}
.footer-contact {
  margin-top: 24px;
  display: flex;
  gap: 0 30px;
}
.footer-contact span {
  color: #032e32;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 175%;
}
.footer-contact span a {
  margin-top: 16px;
  display: block;
  color: #032e32;
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
}
.footer .socials {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 0 14px;
}
.footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background: #032e32;
  border-radius: 100rem;
  transition: all 0.2s linear;
  border: 1px solid transparent;
}
.footer .social svg {
  color: #fff;
}
.footer .social:hover {
  background: transparent;
  border: 1px solid #032e32;
}
.footer .social:hover svg {
  color: #032e32;
}
.footer-bottom {
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-pay {
  display: flex;
  align-items: center;
  gap: 0 28px;
  margin-left: 150px;
}
.footer .copyright {
  color: #5d6c6c;
  font-size: 1.6rem;
  line-height: 175%;
}

.log-in {
  background: linear-gradient(to right, #04704e 50%, #e0eae5 50%);
  min-height: 100vh;
}
.log-in-container {
  display: flex;
  justify-content: space-between;
}
.log-in-heading {
  margin-top: 345px;
  color: #fff;
  max-width: 470px;
  padding: 20px 0;
  position: relative;
}
.log-in-heading::before {
  content: "";
  width: 36.1%;
  height: 4px;
  border-radius: 12px;
  background: #b5ed3d;
  position: absolute;
  top: 0;
  left: 0;
}
.log-in-desc {
  color: #fff;
  max-width: 411px;
}
.log-in-modal {
  margin-top: 126px;
  padding: 38px 28px;
  border-radius: 12px;
  background: #fff;
  width: 470px;
  position: relative;
}
.log-in-close-icon img {
  position: absolute;
  cursor: pointer;
  top: -56px;
  right: 0;
}
.log-in-label {
  color: #032e32;
  font-weight: 600;
  margin-bottom: 17px;
  display: block;
}
.log-in-input {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #d4dddd;
  padding: 17px;
  color: #4f5a5a;
  font-weight: 400;
}
.log-in .password-log-in {
  margin-top: 26px;
  position: relative;
}
.log-in .password-log-in span {
  color: #032e32;
  font-weight: 600;
  position: absolute;
  right: 17px;
  top: 58%;
  cursor: pointer;
}
.log-in button {
  margin-top: 60px;
  width: 100%;
  outline: none;
  border: none;
}
.log-in .separate {
  margin-top: 32px;
  background: #d4dddd;
  height: 1px;
  width: 100%;
}
.log-in .other-choice {
  padding: 0 23px;
  background: #fff;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -15px;
}
.log-in .other-log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px 0;
}
.log-in .other-log-in button {
  --height: 50px;
  border: 1px solid #d4dddd;
  margin-top: 0;
  background: transparent;
  width: 255px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
  gap: 0 13px;
}
.log-in .other-log-in button span {
  font-size: 1.6rem;
}
.log-in .other-log-in button:hover {
  background: #b5ed3d;
}
.log-in .other-log-in p {
  font-size: 1.6rem;
}
.log-in .other-log-in p strong {
  font-weight: 700;
  color: #032e32;
  cursor: pointer;
}

.log-in .confirm-password {
  margin-top: 26px;
}
.log-in .sign-up-modal-btn {
  margin-top: 28px;
}

.article {
  background: #e0eae5;
}
.article-container {
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article-content {
  max-width: 570px;
}
.article-content p {
  margin-top: 20px;
}
.article-content strong {
  margin-top: 20px;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
  display: inline-block;
}
.article .hero-article-rate {
  margin-top: 20px;
}
.article .strong-2 {
  margin-top: 28px;
}
.article-list {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
.article-item {
  display: flex;
  align-items: center;
  gap: 0 12px;
}
.article-item span {
  color: #032e32;
}
.article-cta {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.article-cta button {
  --height: 60px;
}
.article .buy-btn {
  min-width: 147px;
}
.article .add-btn {
  min-width: 170px;
  color: #fff;
  background: #032e32;
}
.article .img-media {
  width: 470px;
  height: 470px;
}
.article .img-media img {
  position: relative;
  z-index: 1;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article .img-decor {
  z-index: 0;
  position: absolute;
  top: 43%;
  left: 54%;
}
.article-close {
  margin-top: -107px;
  float: right;
}

.all-course {
  background: #e0eae5;
}
.all-course-container {
  padding: 72px 0 100px;
}
.all-course-content {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.all-course-nav {
  width: 370px;
}
.all-course-nav h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 131.25%;
}
.all-course-filter-list {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 28px 0;
}
.all-course-filter-item {
  padding-bottom: 28px;
  position: relative;
}
.all-course-filter-item h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 18px;
}
.all-course-filter-item::after {
  content: "";
  height: 2px;
  width: 100%;
  border-radius: 1px;
  background: #bfcec6;
  position: absolute;
  bottom: 0;
  left: 0;
}
.all-course-filter-item .list {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
.all-course-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.hero {
  padding-top: 18px;
  background: #e0eae5;
}
.hero-pr-banner {
  padding: 20px 0;
  max-width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  margin-left: -18px;
  background: #ffcd00;
}
.hero-pr-banner span {
  padding: 0 18px;
  position: relative;
  color: #032e32;
  font-size: 1.8rem;
  font-weight: 400;
}
.hero-pr-banner span::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background: #032e32;
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
}
.hero-container {
  padding: 100px 0 156px;
  display: flex;
  align-items: center;
}
.hero-content {
  max-width: 570px;
}
.hero-heading {
  font-size: 7rem;
  font-weight: 800;
  line-height: 114.286%;
  margin-bottom: 20px;
}
.hero-form {
  margin-top: 40px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0 18px;
}
.hero-form img {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.hero-input {
  width: 100%;
  padding: 16px 44px;
  outline: none;
  border-radius: 8px;
  background: #fff;
  border: none;
}
.hero-btn {
  min-width: 191px;
}
.hero-media {
  position: relative;
  padding-left: 130px;
}
.hero-article {
  position: relative;
  z-index: 1;
  width: 370px;
  height: 426px;
  border-radius: 12px;
  background: #fff;
  padding: 24px;
}
.hero-article-content {
  margin-top: -24px;
}
.hero-article-sub-heading {
  color: #69797a;
  font-size: 1.4rem;
  font-weight: 400;
}
.hero-article-title {
  margin-top: 3px;
  color: #032e32;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-article-rate {
  margin-top: 3px;
  display: flex;
  align-items: center;
  gap: 0 6px;
}
.hero-article-rate span {
  font-size: 1.6rem;
}
.hero-img {
  width: 322px;
  height: 262px;
  border-radius: 12px;
  object-fit: cover;
}
.hero-nav-arrow img {
  position: relative;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
}
.hero-decor {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 64px;
}

.about {
  background: #032e32;
}
.about-container {
  padding: 48px 0 48px 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.about-content {
  max-width: 437px;
}
.about-tag {
  color: #fff;
  font-size: 1.8rem;
}
.about-heading {
  margin-top: 12px;
  color: #fff;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 135.714%;
}
.about-media {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-30%);
}
.about-img {
  width: 242px;
  height: 214px;
  border-radius: 12px;
  background: #ff5f1a;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.about-img img {
  width: 220px;
  height: 260px;
}
.about-decor {
  position: absolute;
  bottom: 108px;
  left: -28px;
}
.about-list {
  display: flex;
  align-items: center;
  gap: 0 48px;
}
.about-item {
  max-width: 167px;
}
.about-item-desc {
  margin-top: 14px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 133.333%;
  display: inline-block;
}

.bio {
  padding-top: 80px;
}
.bio-container {
  padding: 80px 0;
}
.bio-heading, .bio-desc {
  max-width: 570px;
  text-align: center;
  margin: 0 auto;
}
.bio-desc {
  margin-top: 20px;
}
.bio-btn {
  margin: 40px auto 0 auto;
  min-width: 167px;
}
.bio-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.bio-media img {
  border-radius: 12px;
}
.bio-media img:first-child {
  width: 670px;
  height: 440px;
}
.bio-media img:last-child {
  width: 470px;
  height: 440px;
}

.service-container {
  padding: 80px 0 160px;
}
.service-heading {
  max-width: 570px;
}
.service-list {
  margin-top: 70px;
  --column: 3;
  --spacing: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
  row-gap: var(--spacing);
}
.service-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.service-item {
  border-radius: 12px;
  border: 1px solid #d8e0e0;
  background: #fff;
  padding: 44px 22px;
  cursor: pointer;
  height: 338px;
  transition: all 0.2s linear;
}
.service-item strong {
  margin-top: 28px;
  color: #032e32;
  font-size: 2.2rem;
  font-weight: 700;
  display: inline-block;
}
.service-item span {
  margin-top: 16px;
  display: inline-block;
  font-size: 1.7rem;
}
.service-item:hover {
  box-shadow: 0px 18px 46px 0px rgba(3, 46, 50, 0.08);
  transform: translateY(-10px);
  border: 1px solid transparent;
}

.course {
  background: #e0eae5;
}
.course-container {
  padding: 100px 0;
}
.course-heading, .course-desc {
  text-align: center;
}
.course-desc {
  margin: 18px auto 0 auto;
  max-width: 570px;
}
.course-list {
  margin-top: 70px;
  --column: 3;
  --spacing: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
  row-gap: var(--spacing);
}
.course-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.course-btn {
  width: 156px;
  margin: 55px auto 0 auto;
}

.feature-container {
  padding: 100px 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feature-media {
  flex-shrink: 0;
  width: 470px;
  height: 430px;
  position: relative;
}
.feature-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.feature-decor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.feature-content {
  max-width: 570px;
}
.feature-desc {
  margin-top: 18px;
}
.feature-list {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
.feature-item {
  display: flex;
  align-items: center;
  gap: 0 11px;
  transition: all 0.2s linear;
}
.feature-item span {
  color: #032e32;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 166.667%;
}

.testimonial-container {
  padding: 80px 0 160px;
}
.testimonial-desc {
  margin-top: 18px;
  max-width: 570px;
}
.testimonial-list {
  margin-top: 70px;
  --column: 3;
  --spacing: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
  row-gap: var(--spacing);
}
.testimonial-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.testimonial-item {
  padding: 44px 24px;
  border-radius: 12px;
  border: 1px solid #d8e0e0;
  background: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
}
.testimonial-item h3 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 166.667%;
  max-width: 260px;
}
.testimonial-item p {
  margin-top: 28px;
  font-size: 1.6rem;
  line-height: 175%;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.testimonial-item:hover {
  border: 1px solid transparent;
  transform: translateY(-20px);
  box-shadow: 0px 18px 46px 0px rgba(3, 46, 50, 0.08);
}
.testimonial-user {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 0 14px;
}
.testimonial-user .user-img {
  width: 64px;
  height: 64px;
}
.testimonial-user .user-img img {
  border-radius: 100rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial-user div span {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 166.667%;
}
.testimonial-user .user-rate {
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 0 7px;
}
.testimonial .list-nav {
  margin-top: 38px;
  gap: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial .list-nav div {
  width: 24px;
  height: 4px;
  border-radius: 2px;
  cursor: pointer;
  background: #e0eae5;
}
.testimonial .list-nav div.active {
  background: #b5ed3d;
}

.cta {
  background: #04704e;
}
.cta-container {
  padding: 100px 0;
  position: relative;
}
.cta-content {
  padding: 0 285px;
}
.cta-content p {
  margin-top: 18px;
}
.cta-content button {
  margin: 38px auto 0 auto;
  min-width: 173px;
}
.cta-heading, .cta-content p {
  margin-top: 38px;
  color: #fff;
  text-align: center;
}
.cta-decor {
  position: absolute;
}
.cta-decor-1, .cta-decor-2 {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.cta-decor-2 {
  left: initial;
  right: 0;
}
.cta-decor-3 {
  top: 96px;
  right: 141px;
}
.cta-decor-4 {
  bottom: 96px;
  left: 141px;
}

/*# sourceMappingURL=main.css.map */
